@font-face {
    font-family: 'Saira SemiCondensed';
    src: url('./SairaSemiCondensed-Regular.ttf') format('opentype');
}


@font-face {
    font-family: 'Gilroy';
    src: url('./Radomir\ Tinkov\ -\ Gilroy-Regular.otf') format('opentype');
}
