.Activity-info-box {
    position: relative;
    /* bottom: 2rem; */
    bottom: -31vh;
    margin-bottom: 1vh;
    display: flex;
    /* width: 20rem; */
    width: 80.5vw;
    /* height: 10.0625rem; */
    height: 20vh;
    padding: 1rem;
    justify-content: center;
    align-items: flex-end;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: var(--large, 0.75rem);
    background: var(--Dark-Dark--70, #384353);
  }
  .acib-topo {
    /* width: 18rem; */
    /* width: 70vw; */
    width: 90%;
    height: 18vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    gap: 1rem;
    color: var(--Light-Light--70, #bcc9da);
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 102%;
    font-size: 2vh;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* margin-bottom: 0.6rem; */
  }
  .close-activityInfo {
    flex-shrink: 0;
    position: absolute;
    right: 1rem;
    /* right: -74.5vw; */
    top: 1.105rem;
    /* top: -18.4vh; */
    width: 0.9rem;
    height: 0.9rem;
    display: flex;
    padding: 0.25rem;
    justify-content: center;
    align-items: center;
  }
  
  /* @media (min-height:910px) {
    .Activity-info-box{
      height: 20vh;
    }  
  } */